@use "variables";
@use "fonts";

* {
  box-sizing: border-box;
}

*:focus {
  outline: none !important;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  overflow: auto;
}

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: variables.$defaultFont;
  width: 100%;
  overflow-x: hidden;
  color: #333;
  min-height: 100%;
  min-width: 320px;
  @media screen and (min-width: variables.$mobileBreakPoint) {
    font-size: clamp(14px, 0.8dvw, 28px);
  }
}

main {
  min-width: 320px;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 0px;
}
