$sidebarWidth: 300px;
$sidebarBackground: #545454;
$mobileBreakPoint: 720px;
$tabletBreakPoint: 1024px;
$largeBreakPoint: 1280px;
$defaultFont: "Arcadia Textbook", "SF Mono", "Arcadia", "Zwizz", "Fira Code",
  "IBM Plex Mono", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
