@use "../common/variables";

.Image {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  cursor: zoom-in;
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  border-radius: 3px;
  position: relative;
  justify-content: end;
  width: 100%;
  height: auto;
  max-height: 100%;
  position: relative;
  img {
    max-width: 100% !important;
    max-height: 100% !important;
    height: auto !important;
  }
  @media screen and (min-width: variables.$mobileBreakPoint) {
    width: 20dvw;
    height: 20dvw;
    // max-height: 76dvh;
  }
  @media screen and (min-width: variables.$largeBreakPoint) {
    width: calc(9.725% - 0.53em);
    height: 12dvw;
    // width: 12dvw;
    // height: 12dvw;
    // height: 150px;
    // padding: 2em 1em 1em 1em;
  }
  img {
    max-width: 100%;
    max-height: 90dvh;
    height: 100%;
    border-radius: 1px;
  }
  &.Image--inactive {
    cursor: zoom-in;
    cursor: -moz-zoom-in;
    cursor: -webkit-zoom-in;
  }
}

.Image__container {
  overflow: hidden;
  text-align: center;
  // flex: 2;
  // img {
  //   max-height: 100%;
  //   max-width: 80%;
  // }
}

.Image:hover {
  .Image__controls {
    display: block;
  }
}
.Image__controls {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
  .button--delete {
    display: block;
  }
  .button--revert {
    display: none;
  }
  .button--on {
    display: block;
  }

  .button--off {
    display: none;
  }
}

.Image--active {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40' style='font-size:30px;'><text y='50%'>↣</text></svg>"),
    auto;
  user-select: none;
  width: auto;
  // height: auto;
  height: 100dvh;
  width: 100%;
  min-height: 180px;
  justify-content: center;
  padding: 2em 0;
  img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
  }
  .Image__container img {
    max-height: auto;
    max-width: auto;
  }
}

.Image--markedfordeletion {
  .Image__container {
    opacity: 0.3;
  }
}

.Image__caption {
  // height: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  span {
    padding: 1em 0 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
