@use "common/common";
@use "common/variables";
@use "common/fonts";

@use "modules/modal";
@use "modules/notice";
@use "modules/buttons";
@use "modules/controls";
@use "modules/loader";

@use "components/Gallery";
@use "components/Header";
@use "components/Footer";

body {
  background: pink;
  padding-left: variables.$sidebarWidth;
  min-height: 100%;
  transition: padding-left 0.2s ease-in-out;
  @media screen and (max-width: variables.$mobileBreakPoint) {
    padding-left: 0;
  }
}

main {
  position: relative;
  height: 100%;
  padding-left: 20px;
  @media screen and (max-width: variables.$mobileBreakPoint) {
    padding-left: 0;
  }
}

.modal {
  z-index: 99;
  font-size: 12px;
  p {
    line-height: 1.3em;
  }
  li {
    margin-bottom: 1em;
  }
  .modal__inner {
    text-align: center;
    max-width: 520px;
    color: #666;
    h1 {
      color: #333;
      margin-bottom: 30px;
    }
    .icon {
      font-size: 30px;
      text-align: center;
      margin-bottom: 10px;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    li {
      border-top: 1px solid whitesmoke;
      padding: 20px;
    }
  }
}

#drop-area {
  position: fixed;
  top: 0;
  left: variables.$sidebarWidth;
  height: 100%;
  width: calc(100% - #{variables.$sidebarWidth});
  z-index: -1;
  opacity: 0;
  background: rgb(51, 51, 51);
  transition: opacity 0.25s ease-in-out;
  &.active {
    z-index: 999;
    opacity: 1;
  }
  .drop-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2em;
  }
}

.Image .Image__caption span {
  cursor: text;
}

.pure-button {
  font-family: variables.$defaultFont;
}
