@use "common/common";
@use "modules/notice";
@use "modules/base";
@use "modules/form";
@use "modules/buttons";

main {
  padding: 2em;
}

legend {
  font-size: 1.25em;
}

header {
  font-size: 2em;
  margin-bottom: 1em;
  color: #333;
}

.separator {
  margin: 2.5em;
}
